{% extends 'myapp/base.html' %}

{% block body_block %}

 {% if topiclist %}
        <h2>List of proposed Topics</h2>

        <table>
        <tr>
            <th>Sl. No</th>
            <th>Topic</th>
        </tr>


        <ol>
            {% for topic  in topiclist %}
                <tr>
                    <td><a href="/myapp/topics/{{topic.id}}">{{ topic.id }}</a></td>
                    <td><a href="/myapp/topics/{{topic.id}}">{{ topic.subject }}</a></td>
                </tr>
            {% endfor %}
        </ol>
        </table>
    {% else %}
        <strong>There are no proposed topics!</strong>
    {% endif %}
    <h2>You can add a new topic here</h2>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
