<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Course Listing APP - {% block title %}Welcome!{% endblock %}</title>
    </head>

    <body>
        <div>

            {% if user.is_authenticated %}

                <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="{% url 'myapp:index' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'myapp:profile' %}">Profile</a></li>
                    <li role="presentation"><a href="{% url 'myapp:mycourse' %}">My Courses</a></li>
                    <li role="presentation"><a href="{% url 'myapp:addtopic' %}">Add Topics</a></li>
                    <li role="presentation"><a href="{% url 'myapp:topics' %}">Proposed Topics</a></li>
                <li role="presentation"><a href="{% url 'myapp:logout' %}">Logout</a></li>
                </ul>


            {% else %}
                <h1>Welcome, Guest Kindly <span class="label label-default"><a href="{% url 'myapp:login' %}">login</a></span></h1>
            {% endif %}

            {% block body_block %}*** {% endblock %}
        </div>
        <hr />
    </body>
</html>
