{% extends 'myapp/base.html' %}
{% block myhdg %}
Hello
{% endblock %}
{% block body_block %}


     {%if object_list%}
        <h2>List of courses</h2>
        <ol>
            {%for course in object_list%}
               <li> <a href="{% url 'myapp:detail' course.course_no%}"> {{ course.title}}</a> </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available courses</strong>
    {% endif %}
<p><a href="{% url 'myapp:about' %}">About page</a></p>

{% endblock %}